.input {
  display: block;
  outline: none;
  height: 30px;
  border-radius: 5px;
  padding: 4px;
  border: 1px solid lighten(#000000, 100);
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);

  &:focus {
    border: 1px solid lighten(#000000, 80);
  }
}